{% extends 'partials/base.html.twig' %}

{% block content %}
{% include 'partials/blog_sidebar_header.html.twig' %}
<div class="post">
  <div class="entry-container">
    <div class="entry-content  single">
      <h1 class="entry-title single">{{ page.header.title }}</h1>
      {{ page.content }}
      <div class="clear"></div>
    </div>
  </div>
</div>
{% include 'partials/blog_sidebar_footer.html.twig' %}

<div class="comments" id="comments">
  <h4>{{ grav.twig.comments|length }} Comments:</h3>
  <div class="comments-content">
    {% include 'partials/comments.html.twig' with {'page': page} %}
  </div>
</div>

{% endblock %}
